@import "tailwindcss";

:root {
  --redmine-blue: #628db6;
  --redmine-dark: #3e3e3e;
  --redmine-border: #d7d7d7;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: 'Geist', Arial, sans-serif;
}

a {
  color: #168;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
